body {
    margin: 0;
    padding: 0 0 80px;
    font-family: system-ui, sans-serif;
    line-height: 1.4;
}

.header {
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 10px 0;
    color: var(--header-primary-color, #000);
    background-color: var(--header-background-color, #fff);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

.archive-banner {
    background-color: gold;
    padding: 5px calc(10%/2);
    font-weight: bold;
    font-size: smaller;
}

.title-span {
    margin: auto;
}

code, pre {
    font-family: "Courier New", monospace;
    background: #f5f5f5;
    color:#333;
}

pre{
    padding: 5px;
    overflow-x: auto;
}

p > code{
    padding: 0 2px;
}

@media only screen and (max-width: 760px) {
    body {
        margin: 0;
    }
    
    .title-span {
        width: 90%;
    }

    h1.site-title {
        font-size: medium;
        margin: 0px;
    }

    .archive-span {
        margin: 0 10px 15px 10px;
        padding: 10px;
        color: gray;
        text-align: center;
    }

    .main {
        width: 90%;
        margin: 0.5em auto auto;
    }

    .topic-head {
        width: 100%;
    }

    .category-head {
        display: none;
    }

    .post-count-head {
        display: none;
    }

    .topic-row {
        flex-wrap: wrap;
    }

    .topic {
        width: 100%;
    }

    .post-count:after {
        content: " posts";
    }
}

@media only screen and (min-width: 761px) {
    
    .archive-banner {
        text-align: center;
    }

    .title-span {
        width: 70%;
    }

    h1.site-title {
        font-size: medium;
        margin: 0px;
    }

    .archive-span {
        color: gray;
        font-size: 120%;
        padding: 10px;
        margin: 0 10px 15px 10px;
        text-align: center;
    }

    .main {
        width: 70%;
        margin: 1em auto auto;
    }

    .topic-head,
    .topic {
        width: 70%;
        flex: 1;
    }

    .category-head,
    .category {
        width: 11rem;
    }

    .post-count-head,
    .post-count {
        width: 3rem;
        text-align: right;
    }
}

a {
    text-decoration: underline;
    text-decoration-color: gray;
    text-underline-offset: 2px;
}

h1.topic-title {
    border-bottom: 2px solid darkgray;
}

.category,
.topic {
    display: flex;
    align-items: center;
    gap: 0.3em;
}
.topic a {
    text-decoration: none;
    font-weight: 500;
}
.topic a:hover {
    text-decoration: underline;
}

.user_name {
    font-weight: 700;
    color: dimgray;
    display: inline-block;
}

.created_at {
    font-size: smaller;
    color: #767676;
    display: inline-block;
    float: right;
}

.post_container {
    border-bottom: 1px solid lightgray;
    padding: 20px;
    font-size: 0;
}

.post_container > *{
    font-size: 16px;
}

.avatar {
    border-radius: 50%;
}

.avatar_container {
    display: inline-block;
    vertical-align: top;
    width:45px;
    margin-right: 10px;
}

.post{
    display: inline-block;
    vertical-align: top;
    width:calc(100% - 55px);
    overflow-wrap: break-word;
}

.post_content > *:first-child {
    margin-top: 0.5em;
}

.emoji{
    width: 1em;
    height:1em;
    vertical-align: middle;
}

label {
    display: inline-block;
    width: 5em;
}

.header-row {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding-bottom: 8px;
    border-bottom: 3px solid lightgray;
}

.topic-row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 2px 8px;
    padding: 8px 0;
    border-bottom: 1px solid gainsboro;
}

.category,
.post-count {
    font-size: smaller;
    color: dimgray;
}

div.meta {
    display: none;
}

aside.quote {
    background-color: rgb(249, 249, 249);
    border-left-color: rgb(233, 233, 233);
    border-left-style: solid;
    border-left-width: 5px;
    padding: 12px;
}

.post img {
    max-width: 100%;
    height: auto;
}

