<!DOCTYPE html>
<html>
  <head>
    <!-- HEAD -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title><!-- TOPIC_TITLE --></title>
    <link rel="stylesheet" href="../../archived.css" />
  </head>

  <body>
    <!-- BODY_TOP -->
    <header class="header">
      <div class="archive-banner"><!-- ARCHIVE_NOTICE --></div>
      <div class="title-span">
        <a href="../../archived.html">
          <img src="../../images/site-logo.png" height="40" alt="<!-- JUST_SITE_TITLE -->" id="site-logo" />
        </a>
      </div>
    </header>

    <div class="main">
    <div class="archive-span"><!-- ARCHIVE_BLURB --></div>
    <h1 class="topic-title"><!-- TOPIC_TITLE --></h1>
      <!-- POST_LIST -->
    </div>
    <!-- BODY_BOTTOM -->
  </body>
  <!-- FOOTER -->
</html>
